.container {
	display: grid;
	grid-template-columns: repeat(7, 150px);
	grid-template-rows: repeat(4, 150px);
	justify-content: center;
	gap: 1px;
}

article {
	border: 1px solid #000000;
	width: 150px;
	height: 150px;
}

h4 {
	text-align: center;
}